/* Nebular theming (v14) */
@use '@nebular/theme/styles/theming' as nb;
@use '@nebular/theme/styles/themes' as nbThemes; /* registers default/dark/cosmic/corporate */
@use '@nebular/theme/styles/globals' as ng;

/* Custom themes to approximate ngx-admin material-dark */
$nb-themes: nb.nb-register-theme((
  layout-background-color: #0f1322,
  sidebar-background-color: #151a30,
  card-background-color: #151a30,
  text-basic-color: #e3e9f2,
  text-hint-color: #8f9bb3,
  shadow: 0 0.5rem 1rem 0 #1a1f33,
), material-dark, dark);

$nb-themes: nb.nb-register-theme((
  layout-background-color: #f7f9fc,
), material-light, default);

@include nb.nb-install();
@include ng.nb-theme-global();

html, body { height: 100%; }
body { margin: 0; }
